/*选择*/
.select_tab {
    height: 40px;
    line-height: 40px;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.select_tab> a {
    display: block;
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;
    font-size: 13px;
    text-align: center;
    color: #999;
    position: relative;
}

.select_tab> a.selected {
    color: #cb0101;
}

.select_tab> a> span.mui-icon {
    font-size: 10px;
}

.select_tab> a> span.right {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 1px;
    top: 5px;
    bottom: 7px;
    background: #e5e5e5;
}

.show_total {
    color: #989898;
    font-size: 12px;
    text-align: right;
    padding-right: 10px;
    line-height: 22px;
    background: #f7f7f7;
    height: 22px;
}

/*列表选择css*/
.select_search {
    position: relative;
    height: 100%;
    z-index: 10;
    top: -24px;
}

.background_select {
    background-color: rgba(0,0,0,.3);
    height: 100% !important;
}

.select_search> div {
    height: 276px;
}

.select_search> div a {
    display: block;
    height: 44px;
    line-height: 44px;
    padding-left: 20px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    color: #999;
}

.select_search> div a.selected {
    color: #333;
    position: relative;
}

.select_search> div a.selected:after {
    position: absolute;
    color: #cb0101;
    right: 15px;
}

.more_screen {
    background: #fff;
    height: 276px;
}

.more_screen> div {
    width: 33%;
    height: 100%;
}

.more_screen> div.left_icon {
    border-right: 1px solid #ddd;
}

.more_screen> div.right_list {
    width: 67%;
    margin-left: 33%;
    height: 276px;
}

/*列表*/
.list_chance {
    background: #fff;
    /*border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;*/
    margin-top: 10px;
}

.list_chance:nth-child(1) {
    margin-top: 0;
}

.list_chance> div {
    padding-left: 16px;
    position: relative;
    width: 100%;
    height: 34px;
}

.list_chance> div.content {
    border-bottom: 1px solid #ddd;
    height: 58px;
    padding: 5px 15px;
}

.list_chance> div.label {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.list_chance> div.label> span {
    font-size: 12px;
    line-height: 34px;
    color: #777;
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.list_chance> div.label> span:before {
    color: #dedede;
    font-size: 14px;
    padding-right: 4px;
}

.list_chance> div.label> span:nth-child(2) {
    text-align: center;
}

.list_chance> div.label> span:nth-child(3) {
    text-align: right;
}

.list_chance> div.label> span:nth-child(3)> span {
    padding-right: 30px;
}

.list_chance> div:after {
    right: 0;
}

.list_chance> div> p {
    margin: 4px 0 0 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: #999;
    line-height: 15px;
    height: 15px;
}

.list_chance> div> p:nth-child(1) {
    margin: 0;
}

.list_chance> div> p.title {
    font-size: 15px;
    color: #333;
    margin-top: 10px;
    line-height: 18px;
    height: 18px;
}

.list_chance> div> p.bu {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.list_chance> div> p.bu> span {
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.list_chance> div> p.bu> span:nth-child(2) {
    text-align: right;
    padding-right: 15px;
    color: #cb0101;
    font-size: 12px;
}
.list_chance .list-money{
    color: #cb0101;
}

/*拷贝线索池样式*/

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item-e{
    color: #A7A6A6 ;
    background-color: #fff;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-control-item-e{
    color: #A7A6A6 ;
    font-size: 15px;
    border-bottom: 2px solid #ddd;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item-e.mui-active{
    color: #cb0101 !important;
    border-bottom: 2px solid #FF1717 !important;
    background-color: #fff;
}
.tab-mui-content .mui-slider-indicator.mui-segmented-control {
    background-color: #fff;
    height: 42px;
}
/*线索列表样式*/
/*头部样式*/
.myCustomersHeader {

}
.myCustomersHeader .mui-title {
    right: 80px;
    left: 80px;
    font-size: 18px;
}
.myCustomersHeader .crm-solid-lower-triangle:after,
.myCustomersHeader .crm-solid-up-triangle:after {
    font-size: 12px;
}
.myCustomersHeader .crm-search {
    position: absolute;
    right: 15px;
    font-size: 18px;
    padding-top: 13px;
    padding-bottom: 13px;
}
.myCustomersHeader .crm-plus {
    font-size: 18px;
    padding-top: 13px;
    padding-bottom: 13px;
}
.myCustomersHide {
    position: absolute;
    z-index: 6;
    background: #34394C;
    margin: 0px 0px 0px -89px;
    padding: 0px;
    top: 50px;
    left: 50%;
    width: 178px;
}
.myCustomersHide li {
    text-indent: 30px;
    font-size: 14px;
    display: block;
    line-height: 44px;
    color: #fff;
}
.myCustomersHide li:first-child {
    border-bottom: 1px solid #5C647A;
}
.myCustomersHide .mui-icon-contact:before,
.myCustomersHide .mui-icon-person:before {
    margin-right: 5px;
}
.myCustomersUl {
    background: #fff;
    padding: 0px 15px;
    margin: 15px 0px 15px 0px;
    position: relative;
    height: 88px;
}
.myCustomersUl a {
    display: block;
    height: 55px;
    border-bottom: 1px solid #E8E8E8;
}
.myCustomersUl a.mui-navigate-right:after {
    font-size: 20px;
    line-height: 25px;
}
.myCustomersUl .myC_time {
    position: absolute;
    top: 8px;
    right: 20px;
    font-size: 12px;
    color: #999;
}
.myCustomersUl h2 {
    font-size: 14px;
    color: #333333;
    line-height: 30px;
    margin: 0px;
}
.myCustomersUl p {
    font-size: 12px;
    color: #999;
    line-height: 25px;
    margin: 0px;
}
.myCustomersUl li {
    color: #777;
    height: 20px;
    line-height: 20px;
    margin: 6px 0px;
    padding: 0px 13px;
    font-size: 12px;
    float: left;
    border-left: 1px solid #E8E8E8;
}
.myCustomersUl li:first-of-type {
    border: none;
}
.myCustomersUl li span {
    color: red;
}
@media only screen and (max-width: 320px) {
    .myCustomersUl li {
        padding: 0px 13px;
    }
}
@media only screen and (min-width: 375px) {
    .myCustomersUl li {
        padding: 0px 20px;
    }
}
/*end*/
.mui-control-content {
    background-color: white;
    min-height: 215px;
}
.mui-control-content .mui-loading {
    margin-top: 50px;
}
.nav-top{
    position: fixed !important;
    top: 44px;
    z-index: 5;
}
.mui-bar-nav~.mui-content{
    /*padding-top: 40px !important;*/
}
.mui-table-view-cell:after{
    left: 0!important;
}
.list-count{
    text-align: right;
    height: 28px;
    line-height: 28px;
    padding-right: 10px;
    color: rgba(152, 152, 152, 1);
    size: 11px;
}
.customer-name{
    font-size: 15px;
    font-weight: normal;
    padding: 0 0 5px;
    color: #333;
}
.list-o{
    font-size: 13px;
    color: rgba(152, 152, 152, 1);
}
.dept-show{
    white-space: nowrap;
    color: rgba(211, 50, 51, 1);
    font-size: 14px;
}
.mui-table-view-cell{
    padding-right: 20px !important;

}

/* 线索列表-搜索页面*/
.myc_search_header input {
    width: 80%;
    margin: 8px 0px 6px 10px !important;
    background: #fff;
    line-height: 18px;
    font-size: 14px;
}
.myc_search_header span.crm-close {
    top: 3px;
    left: 74%;
    z-index: 1000;
    color: #999;
    font-size: 16px;
    position: absolute;
}
.myc_search_ul {
    margin: 0px;
    padding: 0px 15px;
    background: #fff;
}
.myc_search_ul ul {
    padding: 0px;
}
.myc_search_ul li {
    border-bottom: 1px solid #ddd;
    height: 75px;
}
.myc_search_ul li:last-child {
    border: none;
}
.myc_search_ul h2 {
    font-size: 16px;
    color: #333;
    line-height: 20px;
    height: 20px;
    margin: 10px 0px;
    font-weight: normal;
}
.myc_search_ul p {
    font-size: 12px;
    color: #999;
    line-height: 20px;
    margin: 0px;
}
.clue-search-key{
    color: rgba(211, 50, 51, 1);
}
.search-dept-right{
    float: right;
    margin-top: -70px;
    color: rgba(211, 50, 51, 1);
    font-size: 14px;
}

li {
    list-style-type: none;
}
#app {
    height: 100%;
}
/*.mui-content {
    height: 100%;
}*/
[v-cloak] {
    display: none;
}
.c-left {
    float: left;
}
.c-right {
    float: right;
}
/* 我的客户首页样式*/
.myCustomersHeader {
    position: relative;
}
.myCustomersHeader .mui-title {
    right: 80px;
    left: 80px;
    font-size: 18px;
}
.myCustomersHeader .crm-solid-lower-triangle:after,
.myCustomersHeader .crm-solid-up-triangle:after {
    font-size: 12px;
}
.myCustomersHeader .crm-search {
    position: absolute;
    right: 20px;
    font-size: 18px;
    padding-top: 13px;
    padding-bottom: 13px;
}
.myCustomersHeader .crm-plus {
    font-size: 18px;
    padding-top: 13px;
    padding-bottom: 13px;
}
.myCustomersContent {
    padding-top: 0px !important;
}
.myCustomersContent .mui-tab-withbackdrop {
    background-color: #fff;
    position: relative;
}
.myCustomersContent .mui-tab-withbackdrop .mui-segmented-control {
    border: none;
    padding: 10px 0px;
}
.myCustomersContent .mui-tab-withbackdrop a {
    height: 27px;
    line-height: 27px;
    border: none;
    border-left: 1px solid #ddd;
    color: #999;
}
.myCustomersContent .mui-tab-withbackdrop a.mui-active {
    background: #fff;
    color: red;
}
.myCustomersContent .mui-control-content li {
    color: #999;
    font-size: 15px;
}
.myCustomersContent .mui-tab-withbackdrop-active {
    z-index: 1000;
}
.myCustomersHide {
    position: absolute;
    z-index: 2;
    background: #34394C;
    margin: 0px 0px 0px -89px;
    padding: 0px;
    top: 50px;
    left: 50%;
    width: 178px;
}
.myCustomersHide li {
    text-indent: 30px;
    font-size: 14px;
    display: block;
    line-height: 44px;
    color: #fff;
}
.myCustomersHide li:first-child {
    border-bottom: 1px solid #5C647A;
}
.myCustomersHide .mui-icon-contact:before,
.myCustomersHide .mui-icon-person:before {
    margin-right: 5px;
}
.myCustomersUl {
    background: #fff;
    padding: 0px 15px;
    margin: 15px 0px 15px 0px;
    position: relative;
    height: 88px;
}
.myCustomersUl a {
    display: block;
    height: 55px;
    border-bottom: 1px solid #E8E8E8;
}
.myCustomersUl a.mui-navigate-right:after {
    font-size: 20px;
    line-height: 25px;
}
.myCustomersUl .myC_time {
    position: absolute;
    top: 8px;
    right: 20px;
    font-size: 12px;
    color: #999;
}
.myCustomersUl h2 {
    font-size: 14px;
    color: #333333;
    line-height: 30px;
    margin: 0px;
}
.myCustomersUl p {
    font-size: 12px;
    color: #999;
    line-height: 25px;
    margin: 0px;
}
.myCustomersUl li {
    color: #777;
    height: 20px;
    line-height: 20px;
    margin: 6px 0px;
    padding: 0px 13px;
    font-size: 12px;
    float: left;
    border-left: 1px solid #E8E8E8;
}
.myCustomersUl li:first-of-type {
    border: none;
}
.myCustomersUl li span {
    color: red;
}
.customer-tab #item1 .c-left {
    width: 33%;
}
.customer-tab #item1 .c-right {
    width: 67%;
    border-left: 1px solid #cbcbcb;
}
.customer-tab #item1 .c-right li:last-child {
    border-bottom: none;
}
.customer-tab #item1 li {
    padding: 10px;
    border-bottom: 1px solid #cbcbcb;
}
@media only screen and (max-width: 320px) {
    .myCustomersUl li {
        padding: 0px 13px;
    }
}
@media only screen and (min-width: 375px) {
    .myCustomersUl li {
        padding: 0px 18px;
    }
}
/* 我的客户首页-搜索页面*/
.myc_search_header input {
    width: 80%;
    margin: 6px 0px 6px 10px !important;
    background: #fff;
    line-height: 18px;
    font-size: 14px;
}
.myc_search_header span.crm-close {
    top: 3px;
    left: 74%;
    z-index: 1000;
    color: #999;
    font-size: 16px;
    position: absolute;
}
.myc_search_ul {
    margin: 0px;
    padding: 0px 15px;
    background: #fff;
}
.myc_search_ul ul {
    padding: 0px;
}
.myc_search_ul li {
    border-bottom: 1px solid #ddd;
    height: 75px;
}
.myc_search_ul li:last-child {
    border: none;
}
.myc_search_ul h2 {
    font-size: 14px;
    color: #333;
    line-height: 20px;
    height: 20px;
    margin: 10px 0px;
}
.myc_search_ul p {
    font-size: 12px;
    color: #999;
    line-height: 20px;
    margin: 0px;
}
/* 我的客户首页-新建页面*/
.newCustomer .crm-icon {
    position: absolute;
    right: 60px;
    font-size: 18px;
    padding-top: 13px;
    padding-bottom: 13px;
}
#addMore {
    transition: all 0.5s ease;
}
#newC-plus {
    background: #fff;
    display: block;
    color: red;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
#newC-plus span {
    color: red;
    font-size: 14px;
    margin-right: 5px;
}
/* 我的客户首页-详情页面*/
.customer-detail {
    background: #fff;
}
html,
body {
    overflow: hidden;
}
#slider {
    position: absolute;
    z-index: 100;
    top: 112px;
    background: #fff;
    bottom: 0;
    transition: 0.5s;
}
#slider .mui-scroll-wrapper {
    padding-bottom: 60px;
}
/*活动列表*/
.select_tab {
    height: 40px;
    line-height: 40px;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.select_tab > a {
    display: block;
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;
    /* OLD - Firefox 19- */
    -webkit-flex: 1;
    /* Chrome */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    font-size: 12px;
    text-align: center;
    color: #a8a7a7;
    position: relative;
}
.select_tab > a.selected {
    color: #cb0101;
}
.select_tab > a > span.right {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 1px;
    top: 5px;
    bottom: 7px;
    background: #e5e5e5;
}
.activity_list {
    background: #ffffff;
}
.activity_list > ul {
    margin: 0;
    padding: 0;
}
.activity_list > ul:last-child {
    padding-bottom: 24px;
}
.activity_list > ul p {
    margin: 0;
    padding-left: 42px;
    color: #999;
    font-size: 13px;
    height: 13px;
    line-height: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.activity_list > ul p.block {
    color: #333;
}
.activity_list > ul > li.group {
    text-align: center;
    color: #989898;
    font-size: 13px;
    position: relative;
    padding: 12px 24px 12px 27px;
}
.activity_list > ul > li.group > span.line {
    display: inline-block;
    border-top: 1px solid #ddd;
    position: absolute;
    left: 27px;
    top: 22px;
    right: 24px;
}
.activity_list > ul > li.group > span.title {
    display: inline-block;
    padding: 0 16px;
    background: #fff;
    z-index: 1;
    position: relative;
}
.activity_list > ul > li.content {
    padding: 10px 30px 7px 0;
    position: relative;
}
.activity_list > ul > li.content > span.point {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #cb0101;
    border-radius: 5px;
    top: 12px;
    left: 22px;
}
.activity_list > ul > li.content > div.line_left {
    position: absolute;
    width: 1px;
    height: 80px;
    background: #ddd;
    top: 22px;
    left: 27px;
}
.activity_list > ul > li.content > p:nth-child(2) {
    margin-top: 13px;
}
.activity_list > ul > li.content > p:nth-child(3) {
    margin-top: 12px;
}
/*列表选择css*/
.select_search {
    position: relative;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
}
.select_search > div {
    height: 276px;
}
.select_search > div a {
    display: block;
    height: 44px;
    line-height: 44px;
    padding-left: 20px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    color: #999;
}
.select_search > div a.selected {
    color: #333;
}

/*转移记录*/
.crm-zyList {
    /*overflow: hidden;*/
}
.crm-zyList:first-child{
    margin-top: 30px;
}
.crm-zyList:last-child ul{
    padding-bottom: 0;
}
.crm-zyList ul {
    padding-left: 0;
}
.crm-zyList ul li {
    list-style: none;
}
.crm-zyList #header {
    margin-top: 20px;
    position: relative;
    width: 88%;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 20px;
}
.crm-zyList #header span {
    position: absolute;
    left: 40%;
    top: -10px;
    padding: 0 17px;
    background: #fff;
    font-size: 14px;
    color: #989898;
}
.crm-zyList .content {
    position: relative;
    border-left: 1px solid #dddddd;
    padding-bottom: 20px;
    margin: 0 40px;
    padding-left: 42px;;
}
.crm-zyList .content .bd-radius {
    width: 42px;
    height: 42px;
    background: #fff;
    position: absolute;
    left: -20px;
}
.crm-zyList .bd-radius-first{
    width: 22px;
    height: 22px;
    background: #fff;
    position: absolute;
    left: -11px;
    top: 0;
    border-radius: 22px;
}
.crm-zyList .bd-radius-first:after{
    content: "\A174";
    color: #cb0101;
}
.crm-zyList .zwcl{
    padding-top: 4px;
    color: #cb0101 !important;
    font-size: 16px !important;
}
.crm-zyList .img-icon{
    width: 38px !important;
    height: 38px !important;
    margin-top: 2px;
}
.crm-zyList .content :nth-of-type(2) {
    font-size: 14px;
    color: #999;
    line-height: 12px;
    margin-bottom: 5px;
    position: relative;
}
.crm-zyList .content :nth-of-type(3) {
    font-size: 13px;
    color: #333;
    margin-bottom: 5px;
    position: relative;
}
.crm-zyList .content :nth-of-type(4) {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}
.crm-zyList .content :nth-of-type(5) {
    font-size: 14px;
    color: #999;
}
.crm-zyList .content :nth-of-type(5) .crm-address:before {
    font-size: 12px;
    margin-left: -2px;
}

.button_two_l {
    position: absolute;
    bottom: 0;
    height: 44px;
    width: 100%;
    border-top: 1px solid #d1d1d1;
    background: rgba(249, 249, 249, 1);
    z-index: 999;
}

.button_two_l> a {
    margin: 0 auto;
    padding: 0 20px;
    line-height: 44px;
    display: inline-block;
    color: #cb0101;
    font-size: 18px;
    text-align: center;
    width: 100%;
}

.mui-scroll{
    /*padding-bottom: 40px;*/
}
.crm-push-down{
   /* top: 10px !important;*/
}

.mui-segmented-control.mui-segmented-control-inverted~.mui-slider-progress-bar{
    background-color: #cb0101;
    top: 1px;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
    color: #cb0101;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item{
    color: #A7A6A6;
}
div.crm-detail1 span{
    text-align: center;
}

/*跟进记录详情*/
.out-warpper {
    background-color: #fff;
    width: 100%;
}

.out-warpper .rec-content {
    padding: 15px;
    min-height: 120px;
    font-size: 14px;
    color: #333;
}
.out-warpper .time-text{
    padding-left: 10px;
}
.out-warpper ul .mui-table-view-cell:after{
    background-color: #fff !important;
}
.out-warpper .mui-table-view-cell{
    padding: 8px 15px;
}
.out-warpper .rec-content-line{
    border-top: 1px solid #CBCBCB;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
}
.out-warpper .mui-table-view-cell{
    padding-right: 15px !important;
}
.out-warpper ul li:last-child{
    border-bottom: 1px solid #CBCBCB;
}
.mui-icon-ly:before {
    content: "\E302";
    position: relative;
    top:-1px;
}
/*跟进记录详情end*/

.mui-pull-right{
    font-size: 18px !important;
}

.garyColor{
    color: #CBCBCB;
}
.crm-listIcon div.addpriceline{
    color: #cb0101;
}
.crm-listIcon .over_time{
    float: right;
    color: #929292;
}
.icon-text{
    font-size: 14px !important;
}
.list-price-scroll{
    background-color: #f1f1f1;
    height: 100%;
}
.list-price-scroll:first-child{
    margin-top: 44px;
}
.crm-icon-priceEdit{
    margin-top: 4px;
}

/*x新建选择产品*/
.mui-pull-text{
    float: right;
}
.product-list {
    margin-top: 43px;
    border-bottom: 1px solid #cbcbcb;
    background-color: #f1f1f1;
    height: 100%;
}

.product-list> div.item_li {
    border-bottom: 1px solid #cbcbcb;
    background-color: #F9F9F9;
    margin-top: 10px;
}
.product-list> div.item_li:first-child{
    margin-top: 0;
}

.product-list> div.item_li:last-child{
    border-bottom: 0;
}

.product-list> div.item_li p, .product-list> div.item_li input {
    margin: 0;
}

.product-list> div.item_li> p {
    color: #333;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    padding-left: 14px;
    width: 100%;
    position: relative;
    background-color: #fff;
    border-top: 1px solid #c4c4c4;
}

.product-list> div.item_li> p:after {
    color: #cbcbcb;
    position: absolute;
    right: 2px;
    font-size: 14px;
}

.product-list> div.item_li> p.crm-check:after {
    right: 20px;
    color: #cb0101;
}

.product-list> div.item_li> p> span.cost {
    color: #cb0101;
    font-size: 13px;
    float: right;
    margin-right: 36px;
}

.product-list> div.item_li> p> span.cost:before {
    color: #cbcbcb;
    font-size: 15px;
    padding-right: 5px;
}

.product-list> div.item_li> div.detail {
    /*width: calc(100% - 18px);*/
    border-top: 1px solid #c4c4c4;
    padding: 7px 0 14px 15px;
}

.product-list> div.item_li> div.detail> p ,.product-list> div.item_li> div.detail> p .span{
    font-size: 14px;
    line-height: 18px;
    min-height: 18px;
    color: #999;
    margin-top: 5px;
}

.product-list> div.item_li> div.detail> p> span {
    color: #333;
    margin-left: 8px;
}

.product-list> div.item_li> div.detail> p> span.cost {
    color: #cb0101;
}

.product-list> div.item_li> div.detail> p> input {
    font-size: 13px;
    color: #cb0101;
    border: 0;
    width: 85px;
    margin-left: 6px;
    height: 15px;
    border-bottom: 1px solid #d1d1d1;
    line-height: 16px;
    border-radius: 0;
    padding: 0;
}

.product-list> div.item_li> div.bu {
    border-top: 1px solid #cbcbcb;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
}

.product-list> div.item_li> div.bu> a {
    display: block;
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;
    text-align: center;
    line-height: 48px;
    font-size: 13px;
    color: #333;
    position: relative;
}

.product-list> div.item_li> div.bu> a:before {
    color: #333;
    padding-right: 8px;
}

.product-list .source-img{
    position: relative;
    top: 5px;
    width:20px;
    height:20px;
    border-radius: 3px;
}
.product-list .ptName{
    margin-left: 5px;
}
/*end*/

.liafter li:after{
    left: 15px !important;
}
.detail-money{
    float: left;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 10px !important;
    text-align: left !important;
}
.salePrice-last-li:after{
    height: 1px !important;
}
.salePrice-first-li:before{
    position: absolute;
    right: 0;
    top: 0;
    height: 1px !important;
    content: '';
    width: 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}
.addClue{
    padding-top: 28px !important;
}
.addClue .product_list{
    border-bottom:none !important;
}
.addClue .product_list> div.item_li:last-child{
    border-bottom:1px solid #cbcbcb !important;
}
.mui-scroll-e{
    padding-bottom: 10px;
}

/*tab切换样式 2016年05月28日13:38:11*/
.customer-detail .product_list{
    border-bottom:none !important;
}
.mui-segmented-control.mui-segmented-control-inverted~.mui-slider-progress-bar{
    top:2px !important;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-control-item-e {
    color: #A7A6A6;
    font-size: 15px;
    border-bottom: 2px solid #ddd;
}
.activity_list{
    border: none !important;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item{
    border: none !important;
}
/*end*/
.customer-detail .product_list> div.item_li:last-child{
    border-bottom:1px solid #cbcbcb !important;
}
.crm-zyList .content{
    margin-right: 0;
}
